@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-[2.4rem] font-bold mb-2;
}
h2 {
  @apply text-[2.3rem] font-bold mb-2;
}
h3 {
  @apply text-[2.2rem] font-bold mb-2;
}

input {
  @apply px-[15px] py-3 outline-none border;
}
textarea {
  @apply border outline-none py-2 px-3;
}
button {
  @apply px-3 py-[11px] outline-none rounded-lg;
}
/* Gradient button */
.gradient-button-blue-purple {
  background-image: linear-gradient(to bottom right, #1d4ed8 20%, #9333ea 90%);
  color: white;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
}
.gradient-button-blue-purple:hover {
  background-image: linear-gradient(to top left, #1d4ed8, #9333ea);
}
/* blue-purple gradient text */
.gradient-text-blue-purple {
  @apply bg-gradient-to-br from-blue-700 from-20% via-purple-600 via-100% bg-clip-text text-transparent;
}

/* REACT QUILL STYLES */
.ql-editor {
  @apply leading-relaxed text-gray-900 text-xl;
}

.ql-editor p {
  @apply mb-4;
}

.ql-editor h1 {
  @apply text-3xl font-bold mt-6 mb-3;
}

.ql-editor h2 {
  @apply text-2xl font-semibold mt-5 mb-3;
}

.ql-editor h3 {
  @apply text-xl font-medium mt-4 mb-2;
}

.ql-editor ul {
  @apply list-disc list-inside ml-5;
}

.ql-editor ol {
  @apply list-decimal list-inside ml-5;
}

.ql-editor blockquote {
  @apply border-l-4 border-gray-400 pl-4 italic text-gray-600;
}

.ql-editor img {
  @apply w-full h-auto rounded-lg mx-auto my-4;
}

.ql-align-center {
  @apply text-center;
}

.ql-code-block-container {
  @apply text-sm;
}

.ql-code-block {
  @apply whitespace-pre;
}
pre {
  @apply text-[15px] max-h-[400px] overflow-auto !important;
}
/* END OF REACT QUILL STYLES */
